/*navbar*/

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Style the navbar */
nav {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #afa7d5;
  color: white;
  font-size: x-large;
}



/* Container styles */
#container {
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20%;
    border: 10px solid aliceblue;
    background: linear-gradient(45deg, #1a1828, #917dea);
    opacity: 0.8;
    color: #ffffff;
  }
  
  /* Gradient background animation */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  /* Title styles */
  .title {
    text-align: center;
    font-size: 24px;
    color: #ffffff; /* White text */
  }
  
  /* Result styles */
  .result {
    margin-top: 20px;
    padding: 10px;
    font-size: x-large;
    font-weight: 500;
    background-color: #e8d1ff; /* Lavender */
    border: 1px solid #9370db; /* Lighter lavender border */
    color: grey;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
  
  .result__title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .result__info {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #9370db; /* Lavender border color */
  }
  
  .result:hover .result__info {
    opacity: 1;
  }
  
  .result__viewbox {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Length slider styles */
  .range__slider {
    margin-top: 20px;
  }
  
  .length__title {
    font-weight: bold;
  }
  
  /* Settings styles */
  .settings {
    margin-top: 20px;
  }
  
  .settings__title {
    font-weight: bold;
  }
  
  .setting {
    margin-top: 10px;
  }
  
  .setting label {
    color: #ffffff; /* White text */
  }
  
  /* Button styles */
  .btn {

    display: block;
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    margin-left: 30%;
    font-size: 26px;
    background-color: #242233; /* Lavender */
    color: #ffffff; /* White text */
    border: 3px solid aliceblue;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #937ebe; /* Lighter lavender on hover */
  }
  
  /* Animation for generated password */
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .generated-password {
    animation: slideUp 0.5s ease;
  }
  
  /* Animation for copied message */
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .copied-message {
    animation: fadeInOut 1s ease;
  }
  #container{
    font-size:xx-large;
  }

  
body  {
  width: 100%;
  
    
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



#center
{
    
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;

  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
#center2{
  width: 100%;
  height: auto;
  background: rgba(75, 75, 250, 0.3); 
  display: flex;
  align-items: center;
  justify-content: center;
 
  
  
  border-radius: 3px;
}
#center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

.div1,.div2{
  width: 50%;
  

}
.div2 img{
  filter: sepia(100%) hue-rotate(200deg) saturate(400%);
}



@media screen  and (max-width: 600px) {

  #center{
    display: flex;
    flex-direction: column;
  }
  #center h1{
    padding: 20%;
    padding-top: 40%;
  }
  .div1,.div2{
    text-align: center;
    height: 50%;
    width: 100%;
  }
  .div2 img {
    width: 80%;
    

  }
}